<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Intelligent web Scraper</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
	<!-- header -->
	<nav class="navbar nav-header navbar-dark bg-dark" justify-content-between">
		<h1><a class="navbar-brand" href="/">Intelligent Web Scrapper</a></h1>
		<h2 class="nav-item navbar-brand">{{compData.name}}</h2>
	</nav>
	<!-- main info -->
	<div class="container-fluid px-5 py-4">		
		<img src="https://logo.clearbit.com/{{compData.websiteUrl}}?size=400" alt="" class="mx-auto d-block pb-4" />

				
		{% if compData.specialties %}
		<h3>Product/ Services</h3>
		<p>
			{% for specialty in compData.specialties["values"] %}				
				{% if loop.last %}
					{{specialty}}
				{% else %}
					{{specialty}},
				{% endif %}		   
			{% endfor %}
		</p>
		{% endif %}	

		{% if compData.employeeCountRange %}
			<p>Employee Count: {{compData.employeeCountRange.name}}</p>
		{% endif %}	
		
		{% if compData.locations %}
		<h3>Contact</h3>
		<p>
			{% for location in compData.locations["values"] %}				
				{% if loop.last %}
					{{location.contactInfo.phone1}}
				{% else %}
					{{location.contactInfo.phone1}}
				{% endif %}		   
			{% endfor %}
		</p>
		{% endif %}	
		
		<a href="{{compData.websiteUrl}}" target="_blank">Go to website</a>
		
		<h3>Other Contacts</h3>
		<p>Facebook</p>
		<p>Linkedin</p>
		<p>twitter</p>
		
		{% if compData.locations %}
		<h3>Location</h3>
		<p>
			{% for location in compData.locations["values"] %}				
				{% if loop.last %}
					{{location.address.street1}} {{location.address.city}} {{location.address.postalCode}} 
				{% else %}
					{{location.address.street1}} {{location.address.city}} {{location.address.postalCode}},
				{% endif %}		   
			{% endfor %}
		</p>
		{% endif %}		
		
		<h3>Synopsis of Services</h3>
		<p>{{compData.description}}</p>
		
		<h3>Sources:</h3>
		<p>Source1</p>
		<p>Source2</p>
		<p>Source3</p>
		
		
	</div>
	<script src="scripts/app.js"></script>
</body>
</html>